{% extends 'store/main.html' %}

{% block content%}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
    <div class="col md-10 col-sm-12 offset md-1 p-4 text-center">
        <p>
            We are creating an online platform through which people can place orders of what they intend to have at their favorite restaurants long before they get there. It greatly simplifies the ordering process for both the restaurant and the customer. This system presents an interactive and up-to-date menu that is user-friendly. Customers will be able to view cafes around Kahawa Sukari and what they have on their menus for the day and pick the cafe of their choice. The customer can choose one or more item from their menu to place an order pays for it and gets the order confirmation details
        </p>
    </div>
</div>
</div>
{% endblock content %}